In [ ]:
# Observable Trends from the data set

# 1.From Gender Demographics, this game is played more by males than the other gender. 
#   The total revenue generated by male players is also high compared to female players.

# 2.From Age Demographics, most of the players fall into the age group of 15-27 years. 
#   The player count increases sharply from 7 years, reaches a peak in the age bin of 20-24 and then falls 
#   down steeply after the age of 27. 
#   The total purchase value also follows the same trend with players between age group of 20- 24 yrs., spending the most.

# 3.The most popular items are not the most profitable ones.
#   The most popular items based on purchase count are the items whose price is less than or close to the 
#   average purchase price. 
#   The items that generate the highest revenues are those with high purchase price.

In [46]:
import pandas as pd
import os
import json

In [47]:
# Read the JSON file into Pandas Dataframe
file_path = os.path.join("purchase_data.json")
with open(file_path) as fileobj :
    data = json.load(fileobj)
purchase_df = pd.DataFrame(data)
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [48]:
# Player count
player_count_dict ={"Total Players":[len(purchase_df["SN"].value_counts())]}
player_count_df = pd.DataFrame(player_count_dict)
player_count = len(purchase_df["SN"].value_counts())
player_count_df

   Total Players
0            573

In [49]:
# PURCHASING ANALYSIS ( TOTAL)
# Number Of Unique Items
total_items = len(purchase_df["Item ID"].value_counts())
# Average Purchase Price
avg_price = round(purchase_df["Price"].mean(),2)
# Total number of purchases (number of rows in the data frame)

# Total Revenue
total_revenue = round(purchase_df["Price"].sum(),2)
purchase_analysis_dict = {"Number Of Unique Items":[total_items],"Average Price":[avg_price],
                     "Number Of Purchases":[len(purchase_df.index)],"Total Revenue":[total_revenue]}
purchase_analysis_df = pd.DataFrame(purchase_analysis_dict)
purchase_analysis_df

   Average Price  Number Of Purchases  Number Of Unique Items  Total Revenue
0           2.93                  780                     183        2286.33

In [50]:
# GENDER DEMOGRAPHICS
# Count of male players
male_df = purchase_df.loc[purchase_df["Gender"]=="Male",:]
male_count = len(male_df["SN"].unique())

# Percentage of male players
total_count = len(purchase_df["SN"].unique())
percent_male =round((male_count/total_count)*100,2)

# count of female players
female_df = purchase_df.loc[purchase_df["Gender"]=="Female",:]
female_count = len(female_df["SN"].unique())

# Percentage of female players
percent_female = round((female_count/total_count)*100, 2)

# Percentage of other/undisclosed gender players
other_df = purchase_df.loc[(purchase_df["Gender"]!="Male") & (purchase_df["Gender"]!="Female"),:]
other_count = total_count-male_count-female_count
percent_other = round((other_count/total_count)*100,2)

# Creating gender demography dataframe
gender_demo_dict = {"Percentage Of Players":[percent_male,percent_female,percent_other],
                    "Gender":["Male","Female","Other/Non-Disclosed"],"Total Count":[male_count,female_count,other_count]}
gender_demo_df = pd.DataFrame(gender_demo_dict)
gender_demo_df = gender_demo_df.set_index("Gender")
gender_demo_df

                     Percentage Of Players  Total Count
Gender
Male                                 81.15          465
Female                               17.45          100
Other/Non-Disclosed                   1.40            8

In [51]:
# PURCHASE ANALYSIS (GENDER)

# Purchase Count 
# male
male_purchase = len(male_df)
# female
female_purchase = len(female_df)
# Other/Non-Disclosed
other_purchase = len(other_df)

# Average Purchase Price
# male
avg_price_male =round((male_df["Price"].sum())/len(male_df["Price"]),2)
# female
avg_price_female =round((female_df["Price"].sum())/len(female_df["Price"]),2)
# Other/Non-Disclosed
avg_price_other = round((other_df["Price"].sum())/len(other_df["Price"]),2)

# Total Purchase Value
# male
total_value_male = round(male_df["Price"].sum(),2)
# female
total_value_female = round(female_df["Price"].sum(),2)
# Other/Non-disclosed
total_value_other = round(other_df["Price"].sum(),2)

# Normalised Totals
# male
norm_total_val_male = round((total_value_male/male_count), 2)
# female
norm_total_val_female = round((total_value_female/female_count), 2)
# Other/Non-Disclosed
norm_total_val_other = round((total_value_other/other_count), 2)

# creating purchasing Analysis (Gender) DataFrame
purch_gender_dict = {"Purchase Count":[male_purchase,female_purchase,other_purchase],
                    "Gender":["Male","Female","Other/Non-Disclosed"],
                    "Average Purchase Price":[avg_price_male,avg_price_female,avg_price_other],
                    "Total Purchase Value":[total_value_male,total_value_female,total_value_other],
                    "Normalised Totals":[norm_total_val_male,norm_total_val_female,norm_total_val_other]}
purch_gender_df = pd.DataFrame(purch_gender_dict)
purch_gender_df = purch_gender_df.set_index("Gender")
purch_gender_df

,Average Purchase Price,Normalised Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.95,4.02,633,1867.68
Female,2.82,3.83,136,382.91
Other/Non-Disclosed,3.25,4.47,11,35.74

In [55]:
# AGE DEMOGRAPHICS
# find max and min of age column to fix the outer edge of the bins
max_age = purchase_df["Age"].max()
min_age = purchase_df["Age"].min()
print(max_age)
print(min_age)
# creating age bins
age_bins = [0,10,14,19,24,29,34,39,50]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_df["Age Summary"] = pd.cut(purchase_df["Age"], age_bins, labels=age_labels)

# Count of players and percentage of players in each bin
bin1_df = purchase_df.loc[purchase_df["Age Summary"]=="<10",:]
player_count_bin1 = len(bin1_df["SN"].unique())
percent_bin1 = (player_count_bin1/player_count)* 100
bin2_df = purchase_df.loc[purchase_df["Age Summary"]=="10-14",:]
player_count_bin2 = len(bin2_df["SN"].unique())
percent_bin2 = (player_count_bin2/player_count)* 100
bin3_df = purchase_df.loc[purchase_df["Age Summary"]=="15-19",:]
player_count_bin3 = len(bin3_df["SN"].unique())
percent_bin3 = (player_count_bin3/player_count)* 100
bin4_df = purchase_df.loc[purchase_df["Age Summary"]=="20-24",:]
player_count_bin4 = len(bin4_df["SN"].unique())
percent_bin4 = (player_count_bin4/player_count)* 100
bin5_df = purchase_df.loc[purchase_df["Age Summary"]=="25-29",:]
player_count_bin5 = len(bin5_df["SN"].unique())
percent_bin5 = (player_count_bin5/player_count)* 100
bin6_df = purchase_df.loc[purchase_df["Age Summary"]=="30-34",:]
player_count_bin6 = len(bin6_df["SN"].unique())
percent_bin6 = (player_count_bin6/player_count)* 100
bin7_df = purchase_df.loc[purchase_df["Age Summary"]=="35-39",:]
player_count_bin7 = len(bin7_df["SN"].unique())
percent_bin7 = (player_count_bin7/player_count)* 100
bin8_df = purchase_df.loc[purchase_df["Age Summary"]=="40+",:]
player_count_bin8 = len(bin8_df["SN"].unique())
percent_bin8 = (player_count_bin8/player_count)* 100

player_count_bins=[player_count_bin1,player_count_bin2,player_count_bin3,player_count_bin4,
                   player_count_bin5,player_count_bin6,player_count_bin7,player_count_bin8]
percent_bins = [percent_bin1,percent_bin2,percent_bin3,percent_bin4,percent_bin5,
                percent_bin6,percent_bin7,percent_bin8]
percent_bins = [round (x,2) for x in percent_bins]

# create a dictionary for age demographics
age_dict = {"Age Summary":age_labels,"Total Player Count":player_count_bins,"Percentage Of Players":percent_bins}
# Dataframe for Age Demographics
age_demo_df = pd.DataFrame(age_dict)
age_demo_df = age_demo_df.set_index("Age Summary")
age_demo_df

45
7

             Percentage Of Players  Total Player Count
Age Summary
<10                           3.84                  22
10-14                         3.49                  20
15-19                        17.45                 100
20-24                        45.20                 259
25-29                        15.18                  87
30-34                         8.20                  47
35-39                         4.71                  27
40+                           1.92                  11

In [62]:
# PURCHASING ANALYSIS BY AGE
# purchase count by age bins
age_groupby = purchase_df.groupby("Age Summary")
purchase_count_bins = age_groupby["Age"].count()
purchase_count_bins
# Average Purchase Price within each bin
avg_price_bin = round(age_groupby["Price"].mean(),2)
avg_price_bin
# Total Purchase value
tot_pur_value_bin = round(age_groupby["Price"].sum(), 2)
tot_pur_value_bin
# Normalised Totals
norm_tot_bin = round(tot_pur_value_bin/player_count_bins,2)
norm_tot_bin
# create a dictionary for purchasing analysis by Age 
age_purch_dic = {"Age Summary":age_labels,"Purchase Count":purchase_count_bins,"Average Purchase Price":avg_price_bin,
                 "Total Purchase Value":tot_pur_value_bin,"Normalized Totals":norm_tot_bin}

# create dataframe for purchasing analysis by age
age_purch_df = pd.DataFrame(age_purch_dic)
age_purch_df = age_purch_df.set_index("Age Summary")
age_purch_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age Summary,,,,
<10,2.70,3.81,31,83.79
10-14,2.91,19.32,133,386.42
15-19,2.91,9.79,336,978.77
20-24,2.96,1.43,125,370.33
25-29,3.08,2.27,64,197.25
30-34,2.84,2.54,42,119.40
35-39,3.16,1.99,17,53.75
40+,3.02,8.78,32,96.62

In [83]:
# TOP SPENDERS
# Unique list of all spenders(players)
# Groupby SN
SN_groupby = purchase_df.groupby(purchase_df["SN"])
spenders_list = SN_groupby["SN"].unique()
# Purchase Count for each player
SN_purch_count = SN_groupby["Age"].count()
# Average Purchase Price for each player
SN_avg_price = round(SN_groupby["Price"].mean(),2)
# Total Purchase Value for each player
SN_tot_price = SN_groupby["Price"].sum()

# creating a dictionary of top spenders
top_spen_dict = {"SN":spenders_list,"Purchase Count":SN_purch_count,
                 "Average Purchase Price":SN_avg_price,"Total Purchase Value":SN_tot_price}

# create a dataframe for Top 5 Spenders
top_spen_df = pd.DataFrame(top_spen_dict)
top_spen_df = top_spen_df.set_index("SN")
top_spen_df = top_spen_df.sort_values("Total Purchase Value",ascending=False)
top_spen_df.head()

               Average Purchase Price  Purchase Count  Total Purchase Value
SN
[Undirrala66]                    3.41               5                 17.06
[Saedue76]                       3.39               4                 13.56
[Mindimnya67]                    3.18               4                 12.74
[Haellysu29]                     4.24               3                 12.73
[Eoda93]                         3.86               3                 11.58

In [84]:
# MOST POPULAR ITEMS
# To evaluate 5 most popular items
item_groupby = purchase_df.groupby(purchase_df["Item ID"])
# Unique list of all Item IDs
items = item_groupby["Item ID"].unique()
# Unique List of Item Names
item_name = item_groupby["Item Name"].unique()
# purchase count for each item
item_purch_count = item_groupby["Age"].count()
# Item Price for each item
item_price = item_groupby["Price"].unique()
# Total Purchase Value for each item
item_tot_purch_value = item_groupby["Price"].sum()
# create Items dataframe
items_dict = {"Item ID":items,"Item Name":item_name,"Purchase Count":item_purch_count,
              "Price":item_price,"Total Purchase Value":item_tot_purch_value}
items_df = pd.DataFrame(items_dict)
items_pop_df = items_df.set_index("Item ID","Item Name")
items_pop_df = items_df.sort_values("Purchase Count",ascending=False)
items_pop_df.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
Item ID,,,,,
39,[39],"[Betrayal, Whisper of Grieving Widows]",[2.35],11,25.85
84,[84],[Arcane Gem],[2.23],11,24.53
31,[31],[Trickster],[2.07],9,18.63
175,[175],[Woeful Adamantite Claymore],[1.24],9,11.16
13,[13],[Serenity],[1.49],9,13.41

In [82]:
# MOST PROFITABLE ITEMS
# Sort the above dataframe based on total purchase value
items_profit_df = items_df.sort_values("Total Purchase Value",ascending=False)
items_profit_df = items_profit_df.set_index("Item ID","Item Name")
items_profit_df.head()

,Item Name,Price,Purchase Count,Total Purchase Value
Item ID,,,,
[34],[Retribution Axe],[4.14],9,37.26
[115],[Spectral Diamond Doomblade],[4.25],7,29.75
[32],[Orenmir],[4.95],6,29.70
[103],[Singed Scalpel],[4.87],6,29.22
[107],"[Splitter, Foe Of Subtlety]",[3.61],8,28.88